[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allennlp = "*"
flask = "*"
flask-sockets = "*"
gevent = "*"
gevent-websocket = "*"
lark-parser = "*"
spacy = "*"
torch = "==0.4.1"
nltk = "*"
tqdm = "*"
yaspin = "*"
pyyaml = "*"

[dev-packages]
jupyter = "*"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.6"
